<!-- <ul>
  <li>
    <%#= cat.name %>
  </li>
</ul> -->

<table>
    <thead>
        <tr>
            <th colspan="2"><%= cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Birth_Date:</td>
            <td><%= cat.birth_date %></td>
        </tr>
        
        <tr>
            <td>Gender:</td>
            <td><%= cat.sex %></td>
        </tr>
        
        <tr>
            <td>Description</td>
            <td><%= cat.description %></td>
        </tr>
    </tbody>
    <!-- <tfoot>
        <tr>
            <td colspan="2">The table footer</td>
        </tr>
    </tfoot> -->
</table>
